@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis:YEAR@1979&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-background: #0f0f1a;
  --color-background2: #1c2138;
  --color-background3: #161b2eee;

  --color-texto: #e0e0ff;
  --color-texto2: #a0a0cc;

  --color-resaltado: #00d4ff;
  --color-resaltado2: #ff2e63;
  --color-resaltado3: #ffd700;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0%;
  width: 100%;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: var(--color-background);
}

h1 {
  color: var(--color-resaltado);
}

h2.h3,
h4 {
  color: var(--color-texto);
}

@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 375px) {
}
